#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

.section-skills {
    background: linear-gradient(var(--mantis), var(--notpureblack));
    color: var(--baby-powder);
    min-width: 100vw;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.skill-item {
    border: solid var(--lavender-blush) 2PX;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 9.5rem;
    height: 10rem;
    text-align:initial;
font-size: 0.8rem;
}

.skill-icon {
    width: 100px;
    height: auto;
    margin-bottom: 0.5rem;
}