#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

.section-projects{
    background: var(--notpureblack);
    color: var(--baby-powder);
    min-width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-cont{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.section-projects{
    padding: 20rem;
}
.project-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 25rem;
    padding: 1.5rem;
    gap: 1rem;
    border: solid var(--lavender-blush) 3px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--black);

    & p {
        font-weight: 300;
    }
}

.button-proj {
    display: flex;
    gap: 1rem;
}

.button-proj button {
    padding: 10px;
    border-radius: 8px;
    color: var(--notpureblack);
    background-color: var(--baby-powder);
    border: solid black 0px;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.button-proj button.has-link:hover {
    background-color: var(--forest-green);
    color: var(--baby-powder);
}

.button-proj button.no-link:hover {
    background-color: grey;
    color: var(--baby-powder);
    cursor: not-allowed;
}

.button-proj button a {
    text-decoration: none;
    color: inherit;
}

.project-img {
    width: 100%;
    max-width: 20rem; 
    border-radius: 8px; 
    object-fit: cover; 
}

.icon-projs{
    filter: invert();
    width: 100%;
    max-width: 20rem; 
}