#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

section {
    background-color: var(--baby-powder);
    min-width: 100vw;
    min-height: 500px;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-weight: 800;
    font-size: 3.0rem;
}

article {
    width: 60vh;
    padding: 10px;
    color: var(--mantis);

}

article h4,
article h5,
article p {
    color: var(--forest-green);
    font-size: 1rem;
}

.autor-img {
    border: solid white 2px;
    height: 22rem;
    border-radius: 50%;
    filter: drop-shadow(-5px 10px 20px #acacb2);
}

.autor-img:hover{
    filter: drop-shadow(-5px 10px 20px #9a9aa2);
}

@media (max-width: 854px) {

    article h4,
    article h5,
    article p {
        font-size: 0.9rem;
    }

    article h1 {
        font-size: 2.4rem;
    }

    .autor-img {
        height: 19rem;
    }
}


@media (max-width: 709px) {
    section {
        gap: 30px;
    }

    article{
        width: 35vh;
    }

    article h4,
    article h5,
    article p {
        font-size: 0.8rem;
    }

    article h1 {
        font-size: 2.0rem;
    }

    .autor-img {
        height: 16rem;
    }
}
