#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

section {
    background-color: var(--baby-powder);
    min-width: 100vw;
    min-height: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-weight: 800;
    font-size: 3.0rem;
}

article {
    width: 60vh;
    padding: 10px;
    border: 3px solid black; 
    color: var(--mantis);
  
}

article h4, article h5, article p {
    color: var(--forest-green); 
    font-size:1rem;
}
.autor-img{
    height: 350px;
    border-radius: 50%;
    filter: drop-shadow(-5px 10px 20px  #acacb2);
    animation: testOpacity 2s ease forwards, slideLeft 1s ease-out forwards;
}

@keyframes slideLeft {

    0%{
        transform: translateX(-5rem);
        opacity: (0);
    }

    50%{
        transform: translateX(-2rem);
        opacity: (0.5);
    }

    100%{
        transform: translateX(0);
        opacity: (1);
    }
}

@keyframes testOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}