#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

footer {
    background-color: var(--mantis);
    color: var(--baby-powder);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

gap: 5px;
    min-width: 100vw;
    height: 250px;

}

.social-media{
    background-color: #478926ff;
    padding: 0.8rem;
    display: flex;
    width: auto;
    gap: rem;

    & h1{
        font-weight: 500;
        font-size: 30px;
    }
}
