#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

html{
    scroll-behavior: smooth;
}

footer {
    background-color: var(--lavender-blush);
    color: var(--notpureblack);
    padding: 20px 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    min-width: 100vw;
    height: 200px;

}

.social-media {

    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 25rem;

    & h1 {
        font-weight: 700;
        font-size: 30px;
    }

    & a {
        text-decoration: none;
        color: var(--notpureblack);
        transition: color 0.2s ease-in-out;
    }
}

.social-media a:hover {
    color: var(--mantis);
}


.social-media a:active {
    color: var(--rebecca-purple);
    cursor: pointer;
}

.logo-adjust {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    filter: brightness(0);
}

.logo-adjust:hover {
    cursor: pointer;
    gap: 3px;
}

.logos {
    display: flex;
    margin-top: 1rem;
    gap: 0.5rem;
    justify-content: flex-start;
}

@media (max-width: 1280px) {
   
    footer {
    padding: 20px 20px;
    gap: 0.6rem;

}
   .social-media {

    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 25rem;

    & h1 {
        font-weight: 700;
        font-size: 30px;
    }

    & a {
        text-decoration: none;
        color: var(--notpureblack);
        transition: color 0.2s ease-in-out;
    }
}
    .logos {
        justify-content: center;
    }
}

@media (max-width: 1110px) {
   
    footer {
    padding: 20px 20px;
    gap: 0.6rem;

}
   .social-media {

    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    width: 20rem;

    & h1 {
        font-weight: 700;
        font-size: 20px;
    }

    & a {
        text-decoration: none;
        color: var(--notpureblack);
        transition: color 0.2s ease-in-out;
         font-size: 15px;
    }
}
    .logos {
        justify-content: center;
    }
}