#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

footer {
    background-color: var(--lavender-blush);
    color: var(--notpureblack);
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    min-width: 100vw;
    height: 200px;

}

.social-media {
  
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 25rem;

    & h1 {
        font-weight: 600;
        font-size: 30px;
    }
}

.logo-adjust {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    filter: brightness(0);
    transition: transform 0.3s ease;
    transform: scale(1);
}

.logo-adjust:hover {
    cursor: pointer;
    transform: scale(1.1);
    gap:3px;
}

.logos {
    display: flex;
    margin-top: 1rem;
    gap: 0.5rem;
    justify-content: flex-start;
}

