#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

.hero-contain {
    padding: 30px;
    background: linear-gradient(var(--lavender-blush)70%, var(--baby-powder));
    min-width: 100vw;
    height: 500px;
}

.navbar {
    background-color: var(--forest-green);
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    height: 3.8rem;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.3rem;
    transition: color 0.2s ease-in-out;
}

.navbar-links a:hover {
    color: var(--green-yellow);
}

.navbar-links a:active {
    color: var(--rebecca-purple);
    cursor: pointer;
}

.mylogo img {
    height: 45px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.action-button {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: var(--forest-green);
    border: solid 0px;
    border-radius: 8px;
    transition: color 0.2s ease-in-out;

    & a {
        text-decoration: none;
        color: var(--baby-powder);
        display: flex; /* Flexbox para alinhar texto e ícone */
        align-items: center; /* Alinha verticalmente */
        gap: 0.5rem; /* Espaço entre o texto e o ícone */
        transition: color 0.2s ease-in-out;
    }
}

.action-button:hover{
    border: solid var(--forest-green) 2px;
    background-color: var(--lavender-blush);
    cursor: pointer;

    & a{
        color: var(--forest-green);
    }
}