#root {
    --forest-green: #478926ff;
    --mantis: #7bba44ff;
    --green-yellow: #afeb61ff;
    --notpureblack: rgb(31, 31, 31);
    --baby-powder: #f4f5f0ff;
    --lavender-blush: #e1d7e0ff;
    --african-violet: #9f8bb2ff;
    --rebecca-purple: #5c3e84ff;
}

.hero-contain {
    background-color: var(--lavender-blush);
    width: 100vw;
    height: 500px;
}

.navbar {
    background-color: var(--forest-green);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}